SOAP/Cliente-Dad-2018-jax-us-ejb/src/META-INF/wsdl/localhost_8080/Dad-2018-jax-us-ejb/CidadeWS/CidadeWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="CidadeWS" targetNamespace="http://service/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://service/" version="1.0" xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="consultar" type="tns:consultar"/>
<xs:element name="consultarResponse" type="tns:consultarResponse"/>
<xs:complexType name="consultar">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="consultarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="retorno" type="tns:cidade"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="cidade">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nome" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="consultarResponse">
    <wsdl:part element="tns:consultarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultar">
    <wsdl:part element="tns:consultar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CidadeWS">
    <wsdl:operation name="consultar">
      <wsdl:input message="tns:consultar" name="consultar">
    </wsdl:input>
      <wsdl:output message="tns:consultarResponse" name="consultarResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CidadeWSSoapBinding" type="tns:CidadeWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultar">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="consultar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="consultarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CidadeWS">
    <wsdl:port binding="tns:CidadeWSSoapBinding" name="CidadeWSPort">
      <soap:address location="http://localhost:8080/Dad-2018-jax-us-ejb/CidadeWS/CidadeWS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>